*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff1dc;
}
nav .navbar-brand{
    font-size: 1.4rem;
}
nav{
    margin: 2rem 0 6rem 0;
    font-size: 1.2rem;
}
/* form{
    border: 1px hidden black;
    box-shadow: 1px 1px 5px #333;
} */
form h1{
    font-family: "Sedan SC", serif;
    font-size: 3.2rem;
}
form .col-lg{
    /* background-color: purple; */
    margin: 0 auto;
    text-align: center;
    font-size: 1.2rem;
}